<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= category.name %></title>
  <meta name="description" content="<%= item.content || `Random ${category.name} generator` %>">
  <meta property="og:description" content="<%= item.content || `Random ${category.name} generator` %>">
  <style>
  body {
    background: #111111;
    color: #ffffff;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    font-size: 12pt;
  }
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
    background: #222222;
    line-height: 200%;
    border: 2px solid #442222;
    border-radius: 4px;
    box-shadow: 0 0 16px #442222;
  }
  p {
    margin: 1em auto;
    padding: 0 1em;
    max-width: 700px;
  }
  #content {
    line-height: 100%;
  }
  button {
    background: #ff4444;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
  }
  button:hover {
    background: #ff2222;
  }
  button:active {
    background: #ff0000;
  }
  a {
    color: #fff;
  }
  input[type="range"] {
    accent-color: #ff4444;
  }
  #rating {
    cursor: pointer;
    text-decoration: underline;
  }
  .note {
    color: #888888;
    font-size: 10pt;
    line-height: 1em;
  }
  @media (orientation: landscape) {
    #main {
      width: 50%;
    }
  }
  @media (orientation: portrait) {
      #main {
        width: 75%;
      }
   }
  </style>
</head>
<body>
  <h1><a href="/<%= urlParams.replace(/^&/, '?') %>">Generators</a> / <a href="/<%= category.name %>"><%= category.name %></a></h1>
  <div id="main">
  <%- button %>
  <br>
  <div id="content">
    <% if (item.content) { %>
      <%= item.content %>
    <% } %>
    <% if (!item.content) { %>
      <script>window.onload=()=>random();</script>
    <% } %>
  </div>
  <div>
    <span id='rating' onclick="toggle()" style="color:hsl(<%= item.rating * 1.2 %>,100%,50%)">
      <%= parseFloat(Number(item.rating).toFixed(2)) %>%
    </span>
    <br>
    <button onclick="vote(1)">▲</button>
    <button onclick="vote(0)">▼</button>
    <br>
    <span id="vote"></span>
  </div><br>
  <div id="min-max" style="display:none;">
  <label for="min">min: <span id="min-value"><%= min %>%</span></label>
  <input type="range" id="min" min="0" max="100" value="<%= min %>" step="5" oninput="range('min')">
  <br>
  <label for="max">max: <span id="max-value"><%= max %>%</span></label>
  <input type="range" id="max" min="0" max="100" value="<%= max %>" step="5" oninput="range('max')">
  <div class='note'><br>items with a rating below min or above max are excluded<br>votes should be on how well an item fits in rather than taste</div><br>
</div>
  <span>
  <a id="search" target="_blank" href="https://www.google.com/search?q=<%= encodeURIComponent(item.content) %>">search</a>
  <a id="permalink" href="/<%= category.name %>/<%= item.id %>">link</a>
  <a href="/<%= category.name %>?action=new">new</a>
  <a target="_blank" href="/<%= category.name %>?action=items<%= urlParams %>">list</a>
  </span>
</div>
<script>
let id = '<%= item.id %>';
async function random() {
  let min = document.getElementById('min').value;
  let max = document.getElementById('max').value;
  let res = await fetch(`/<%= category.name %>?action=random&min=${min}&max=${max}`)
  let data = await res.json()
  if (data.error) {
    document.getElementById('content').innerText = 'error'
    document.getElementById('permalink').href = '#'
    document.getElementById('search').href = `https://www.google.com/search?q=#`;
  } else {
    id = data.id
    document.getElementById('content').innerText = data.content
    document.getElementById('permalink').href = `/<%= category.name %>/${id}<%= urlParams.replace(/^&/, '?') %>`
    document.getElementById('search').href = `https://www.google.com/search?q=${encodeURIComponent(data.content)}`;
    document.getElementById('vote').innerText = '';
    document.getElementById('rating').innerText = `${parseFloat(Number(data.rating).toFixed(2))}%`;
    document.getElementById('rating').style.color = `hsl(${+data.rating * 1.2}, 100%, 50%)`;
  }
}

async function vote(value) {
  let msg = document.getElementById('vote');
  let type = value === 1 ? 'up' : 'down';
  
  await fetch(`/<%= category.name %>/${id}?action=vote`, {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({ vote: value })
  })
  .then(r => r.json())
  .then(result => {
    switch (result) {
      case 1:
        msg.style.color = '#0F0';
        msg.textContent = `${type}voted`;
        break;
      case 0:
        msg.style.color = '#F00';
        msg.textContent = `removed ${type}vote`;
        break;
    }
  })
  .catch(error => {
    msg.style.color = '#F00';
    msg.textContent = `failed ${type}vote`; 
  });
};

function range(a) {
  let min = document.getElementById('min');
  let max = document.getElementById('max');
  document.getElementById(`${a}-value`).innerText = `${document.getElementById(a).value}%`;
  if (+min.value > +max.value) {
    if (a === 'min') {
      max.value = min.value;
      document.getElementById('max-value').innerText = `${min.value}%`;
    } else if (a === 'max') {
      min.value = max.value;
      document.getElementById('min-value').innerText = `${max.value}%`;
    }
  }
}

function toggle() {
  let mm = document.getElementById('min-max');
  mm.style.display = mm.style.display === 'none' ? 'block' : 'none';
}
</script>
</body>
</html>

